body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

div {
    border: 1px solid #f8f6f6;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

h3 {
    color: #333;
}

button {
    padding: 8px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gainsboro;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    padding: 7px;
    text-align: center;
}

p {
    margin-top: 10px;
}
